*{
    margin: 0;
    padding: 0;
}
html{
    display: flex;
    flex-direction: column;
}
body{
    display: flex;
    flex-direction: column;
    flex: auto;

}
header{
    background: #216fd0;
    height: 50px;
    text-align: center;
    padding:20px 10px 0 0;
    color: white;
    flex: auto;
}
footer{
    background:black;
    height: 30px;
    text-align: center;
    padding:20px 10px 0 0;
    color: white;
    font-size: 10px;
    flex: auto;
}
article{
    display: flex;
    justify-content: space-around;
}
form{
    display: flex;
    flex-direction: column;
}
.segment{
    border: 1px solid #d8d8d8;
    padding: 20px;
    display: flex;
    flex-direction:column;
    flex-wrap:wrap;
    margin: 20px;
    flex: auto;
    width: 50%;
}
textarea {
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    resize: none;
    flex: auto;
}
textarea.output{
    height: 350px;
}
.row{
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    align-items: flex-end;
}
.col{
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    flex-direction: column;
}
.col label{
    margin-right: 10px;
    flex: auto;
    font-size: 17px;
}



.button{
    margin: 10px;
    background: #3385ff;
    color: white;
    padding: 8px;
    font-size: 15px;
    border-radius: 8px;
    border: none;
    box-shadow: 2px 2px #216fd0;
    align-self:flex-end;
    outline-style: inherit;
}
.button:hover{
    background: #216fd0;
}
h3{
    background: #216fd0;
    color: white;
    padding: 5px 15px 5px 5px;
    align-self: flex-start;
    position: relative;
    right: 20px;
    bottom: 20px;
}
.inputBox{
    font-size: 17px;
}