
*{
    box-sizing:content-box;/* 伸缩项目自动box-sizing:border-box，所以需调整为content-box */
    margin:0;
    padding:0;
    border-color:  #d8d8d8;
}
body{
    display:flex;
    flex-direction:column;/* 头、中部、脚纵向显示 */
    min-height: 100vh;
}

header{
    background: #216fd0;
    text-align: center;
    color: white;
}
footer{
    background:black;
    text-align: center;
    color: white;
    padding: 10px;
}
.content{
    display: flex;
    flex: 1;/*110*/
    flex-wrap: wrap;

}

.segment{
    border: 1px solid #d8d8d8;
    padding: 20px;
    display: flex;
    flex-direction:column;
    flex-wrap:wrap;
    margin: 20px;
    flex: 1;
}

form{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.col{
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    flex-direction: column;
}
.inputBox{
    margin-bottom: 20px;
    display: flex;
    border: 1px solid #d8d8d8;
    font-family: inherit;
    flex: 1;

}
.input-field{
    padding: 5px;
    flex: 1;
    border: none;
}
.input-item{
    padding: 5px;
    background: #f8f8f8;
    border-right: 1px solid #d8d8d8;
    color: grey;
}
textarea {
    margin: 10px;
    padding: 10px;
    resize: none;
    flex: auto;
}


.button{
    margin-top: 20px;
    background: #3385ff;
    color: white;
    padding: 10px;
    border: none;
    box-shadow: 2px 2px 1px #216fd0;
    align-self:flex-end;
    outline-style: inherit;
    font-family: inherit;
}
.button:hover{
    background: #216fd0;
}
.label{
    background: #216fd0;
    color: white;
    padding: 10px 15px 10px 10px;
    align-self: flex-start;
    position: relative;
    right: 20px;
    bottom: 20px;
    box-shadow: 2px 2px 1px #216fd0;
}
.divider{
    border: 1px solid #d8d8d8;
    margin-bottom: 35px;
}

